@import "index.scss";
@import "glitchText.scss";

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #242424;
}

html,
body {
    min-height: 100vh;
    /* La hauteur minimale est de 100vh */
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    /* La hauteur minimale est de 100vh */
}



#loader-container,
#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
        width: 100%;
    }
}

#loader-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#main-content {

    .cursor-follower {
        @media screen and (max-width: 768px) {
            display: none;
        }

        position: fixed;
        width: 10px;
        /* Ajustez la largeur et la hauteur selon vos besoins */
        height: 10px;
        /* Ajustez la largeur et la hauteur selon vos besoins */

        -webkit-box-shadow: 0px 0px 200px 200px rgba(119, 119, 119, 0.2);
        box-shadow: 0px 0px 300px 200px rgba(119, 119, 119, 0.2);
        background-color: rgba(119, 119, 119, 0.15);
        pointer-events: none;
        border-radius: 50%;
        /* Rend l'élément entier (y compris la shadow) rond */
        transform: translate(-50%, -50%);
        z-index: 9999;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 2rem 2rem;
        justify-content: start;
    }

    .marked-text {
        color: #50dfdb;

    }

    min-height: 100vh;
    padding: 0rem 18rem;

    section {
        width: 50%;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        height: fit-content;

        &#description {
            text-align: start;

            // sticky on desktop
            @media screen and (min-width: 768px) {
                position: sticky;
                top: 0;
                align-self: flex-start;
                height: fit-content;
            }

            h1 {
                font-size: 3rem;
                font-weight: 600;
                color: #50dfdb;
                margin-bottom: 1rem;
            }

            #menu {
                @media screen and (max-width: 768px) {
                    display: none;
                }

                ul,
                li,
                a {

                    margin: 0;
                    padding: 0;
                }

                li {
                    list-style: none;
                    margin: 1rem 0;



                    a {

                        color: #50dfdb;
                        text-decoration: none;
                        font-size: 1.5rem;
                        font-weight: 600;
                        transition: all 0.3s ease-in-out;

                        &:hover,
                        &.selected {

                            padding: 0 1rem;
                            transition: all 0.3s ease-in-out;
                            color: #fff;

                        }
                    }
                }

            }
        }

        &#resume {
            text-align: start;

            h1 {
                font-size: 2rem;
                font-weight: 600;
                color: #50dfdb;

            }

            article {
                min-height: 90vh;
                padding-block: 5rem;
            }

            ul.tech-list {
                cursor: pointer;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 1rem;
                    padding: 0.5rem 1rem;
                    border-radius: 0.5rem;
                    background-color: #50dfdb;
                    color: #242424;
                    font-size: 1rem;
                    font-weight: 600;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-color: #242424;
                        color: #50dfdb;
                    }
                }
            }

            a.marked-text {
                color: #50dfdb;
                font-weight: bold;
                cursor: pointer;
            }                .projects{


                .projects-list{

                    // <div className="project-item">
                    //         <h4 className="project-title">{project.name}</h4>
                    //         <p className="project-description">{project.description}</p>
                    //         <p className="project-techs">{project.techs.map((tech) => {
                    //             return <span key={project.name + tech} className="tech">{tech}</span>
                    //         })}</p>
                    //         <p className="project-details">{project.details}</p>
                        // </div>

                    display: flex;
                    flex-direction: column;

                    .project-item{
                        margin: 3rem 0;
                        padding: 1rem;
                        border: 1px solid transparent;

                        &:hover {
                            border-radius: 0.5rem;
                            background: #333333;
                        }

                        .project-header {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .project-title {
                                font-size: 1.5rem;
                                font-weight: 600;
                                margin: 1rem 0;
                            }

                            .project-date {
                                font-size: 1rem;
                                font-weight: 600;
                                margin: 1rem 0;
                            }
                        }

                        .project-description {
                            font-size: 0.8rem;
                            font-weight: 400;
                            margin: 1rem 0;
                        }

                        .project-details{
                            font-size: 1rem;
                            font-weight: 400;
                            margin: 1rem 0;
                        }

                        .project-techs{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-evenly;
                            align-items: center;
                            .tech{
                                border-radius: 0.5rem;
                                background-color: #50dfdb;
                                color: #242424;
                                font-size: 0.8rem;
                                font-weight: 600;
                                padding: 0.5rem 1rem;
                                &:hover{
                                    background-color: #242424;
                                    color: #50dfdb;
                                }
                            }
                        }
                    }
                }
            }


            .xp-item {
                // <div className="xp-item">
                //             <h3 className="xp-title">{xpItem.title}</h3>
                //             <h4 className="xp-company">{xpItem.company}</h4>
                //             <p className="xp-date">{xpItem.date}</p>
                //             <p className="xp-description">{xpItem.description}</p>
                //             <p className="xp-details">{xpItem.details}</p>
                // <p className="xp-techs">{xpItem.techs.map((tech) => {
                //     return <span key={xpItem.title + tech} className="tech">{tech}</span>
                // })}</p>
                //         </div>
                margin: 3rem 0;
                padding: 1rem;
                border: 1px solid transparent;

                &:hover {
                    border-radius: 0.5rem;
                    background: #333333;
                }

                .xp-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .xp-title {
                        font-size: 1.5rem;
                        font-weight: 600;
                        margin: 1rem 0;
                    }

                    .xp-date {
                        font-size: 1rem;
                        font-weight: 600;
                        margin: 1rem 0;
                    }
                }

                .xp-company {
                    font-size: 1.2rem;
                    font-weight: 600;
                    margin: 1rem 0;
                }

                .xp-description {
                    font-size: 0.8rem;
                    font-weight: 400;
                    margin: 1rem 0;
                }

                .xp-details{
                    font-size: 1rem;
                    font-weight: 400;
                    margin: 1rem 0;
                }

                .xp-techs{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    align-items: center;
                    .tech{
                        border-radius: 0.5rem;
                        background-color: #50dfdb;
                        color: #242424;
                        font-size: 0.8rem;
                        font-weight: 600;
                        padding: 0.5rem 1rem;
                        &:hover{
                            background-color: #242424;
                            color: #50dfdb;
                        }
                    }
                }






            }

        }
    }


}


.highlight {
    position: relative;
}

.highlight::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #50dfdb;
    transform-origin: left;
    animation: animate 2s linear;
}

@keyframes animate {
    0% {
        transform: scaleX(0);
    }

    50% {
        transform: scaleX(1);
    }
}

.smooth-transition {
    transition: opacity 0.3s ease-in-out;
}

/* Ajoutez ces styles à votre fichier CSS ou à votre feuille de style */
.cursor {
    color: white;
    /* Couleur blanche du curseur */
    animation: blink 0.7s infinite;
    /* Animation de clignotement */
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
        /* Opacité à 1 au début et à la fin */
    }

    50% {
        opacity: 0;
        /* Opacité à 0 au milieu (pour le clignotement) */
    }
}


/* Transition de fondu en entrée */
.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

/* Transition de fondu en sortie */
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.wrap {
    animation: fadein 1s forwards;
}

.unwrap {
    animation: fadeout 0.5s forwards;
}

@keyframes fadein {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeout {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}